<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Clerk Management </h1>
    
    <form action="" method="post">

        {% if data['up']%}

    

        <table>
            <tr>
            
                <th>fname:</th>
                <td><input type="text" value="{{data['up'][0]['fname']}}" name="fname"></td>
            </tr>
            <th>lname:</th>
                <td><input type="text" value="{{data['up'][0]['lname']}}" name="lname"></td>
            </tr>
            <th>place:</th>
                <td><input type="text" value="{{data['up'][0]['place']}}" name="place"></td>
            </tr>
            <th>phone:</th>
                <td><input type="text" value="{{data['up'][0]['phone']}}" name="phone"></td>
            </tr>
            <th>email:</th>
                <td><input type="text" value="{{data['up'][0]['email']}}" name="email"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Update" name="update"></td>
            </tr>
            </table>
        </form>
            
          {%else%}

    <form action="" method="post">

       
        <table>
            
            
                <!-- <th>login_id:</th>
                <td><input type="text" name="loginid"></td>
            </tr>
            <tr>
                <th>department_id:</th>
                <td><input type="text" name="deptid"></td>
            </tr> -->
            <tr>
                <th>fname:</th>
                <td><input type="text" name="fname"></td>
            </tr>
            <tr>
            
                <th>lname:</th>
                <td><input type="text" name="lname"></td>
            </tr>
            <tr>
                <th>place:</th>
                <td><input type="text" name="place"></td>
            </tr>
            <tr>
                <th>phone:</th>
                <td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <th>email:</th>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit"></td>
            </tr>
            </table>
            </form>

            <H2>Clerk Management </H2>
            <table border="1">
                <tr>
                    <th>sl no</th>
                    <th>fname</th>
                    <th>lname</th>
                    <th>place</th>
                    <th>phone</th>
                    <th>email</th>
                    <th>nsja</th>

                    
                    
                    
                </tr>
        
                {% for i in data['view']%}
                <tr>
                    <td>{{loop.index }}</td>
                    <td>{{i['fname'] }}</td>
                    <td>{{i['lname'] }}</td>
                    <td>{{i['place'] }}</td>
                    <td>{{i['phone'] }}</td>
                    <td>{{i['email'] }}</td>
                    <td><a href="?action=delete&id={{i['clerk_id']}}">delete</a>
                        <a href="?action=update&id={{i['clerk_id']}}">update</a></td>
                    
                    
                   
        
                   
        
                </tr>
                {%endfor%}
            </table> 
        {%endif%}
        </body>
        </html>
        