

{%include 'clerk_header.html'%}



<div class="page-wrapper">
	<section class="main-slider">
		<div class="main-slider-swiper owl-carousel owl-theme">
			<div class="item">
				<div class="item-slider-bg" style="background-image: url(/static/images/slider-bg-1.png)"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="slider-content">
								<div class="slider-tagline">City Goverment Online Services</div>
								<h1 class="section-title">Fastest Growing<br> City Rome</h1>
								<a href="#" class="btn btn-primary">Discover More</a>
							</div><!-- slider-content -->
						</div><!-- col-md-12 -->
					</div><!-- row -->
				</div><!-- container -->
			</div><!--item-->
			<div class="item">
				<div class="item-slider-bg" style="background-image: url(/static/images/slider-two-bg-1.png)"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="slider-content">
								<div class="slider-tagline">City Goverment Online Services</div>
								<h1 class="section-title">Fastest Growing <br>City Rome</h1>
								<a href="#" class="btn btn-primary">Discover More</a>
							</div><!-- slider-content -->
						</div><!-- col-md-12 -->
					</div><!-- row -->
				</div><!-- container -->
			</div><!--item-->
		</div><!-- main-slider-swiper -->
	</section><!--main-slider-->
	<section class="department-section">
		<div class="container">
			<div class="department-section-inner">
				<div class="row row-gutter-y-40">
					<div class="col-xl-2 col-lg-4 col-md-6">
						<div class="department-card">
							<div class="department-card-icon">
								<a href="departments.html"><i class="flaticon-parthenon"></i></a>
							</div><!-- department-card-icon -->
							<div class="department-card-content">
								<h5><a href="department-details.html">Your Government</a></h5>
							</div><!-- department-card-content -->
						</div><!--department-card-->
					</div><!--col-xl-2 col-lg-4 col-md-6-->
					<div class="col-xl-2 col-lg-4 col-md-6">
						<div class="department-card">
							<div class="department-card-icon">
								<a href="departments.html"><i class="flaticon-suitcase"></i></a>
							</div><!-- department-card-icon -->
							<div class="department-card-content">
								<h5><a href="department-details.html">Jobs &amp; Unemployment</a></h5>
							</div><!-- department-card-content -->
						</div><!--department-card-->
					</div><!--col-xl-2 col-lg-4 col-md-6-->
					<div class="col-xl-2 col-lg-4 col-md-6">
						<div class="department-card">
							<div class="department-card-icon">
								<a href="departments.html"><i class="flaticon-industry"></i></a>
							</div><!-- department-card-icon -->
							<div class="department-card-content">
								<h5><a href="department-details.html">Business &amp; Industry</a></h5>
							</div><!-- department-card-content -->
						</div><!--department-card-->
					</div><!--col-xl-2 col-lg-4 col-md-6-->
					<div class="col-xl-2 col-lg-4 col-md-6">
						<div class="department-card">
							<div class="department-card-icon">
								<a href="departments.html"><i class="flaticon-bus"></i></a>
							</div><!-- department-card-icon -->
							<div class="department-card-content">
								<h5><a href="department-details.html">Roads &amp; Transport</a></h5>
							</div><!-- department-card-content -->
						</div><!--department-card-->
					</div><!--col-xl-2 col-lg-4 col-md-6-->
					<div class="col-xl-2 col-lg-4 col-md-6">
						<div class="department-card">
							<div class="department-card-icon">
								<a href="departments.html"><i class="flaticon-lotus"></i></a>
							</div><!-- department-card-icon -->
							<div class="department-card-content">
								<h5><a href="department-details.html">Culture &amp; Recreation</a></h5>
							</div><!-- department-card-content -->
						</div><!--department-card-->
					</div><!--col-xl-2 col-lg-4 col-md-6-->
					<div class="col-xl-2 col-lg-4 col-md-6">
						<div class="department-card">
							<div class="department-card-icon">
								<a href="departments.html"><i class="flaticon-balance-1"></i></a>
							</div><!-- department-card-icon -->
							<div class="department-card-content">
								<h5><a href="department-details.html">Justice, Safety Law</a></h5>
							</div><!-- department-card-content -->
						</div><!--department-card-->
					</div><!--col-xl-2 col-lg-4 col-md-6-->
				</div><!-- row -->
			</div><!--department-section-inner-->
		</div><!-- container -->
		<div class="department-search-section">
			<div class="container">
				<form class="department-search-form">
					<input type="text" placeholder="Get our quick services from the city municipal" name="search">
					<button type="submit">View All Services</button>
				</form><!-- department-search-form -->
			</div><!-- container -->
		</div><!-- department-search-section -->
	</section><!--department-section-->
	<section class="about-section">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-6">
					<div class="about-image">
						<div class="about-image-inner img-one">
							<img src="/static/images/about-1.jpg" class="img-fluid" alt="img-2">
							<div class="sign-text">Kevin Martin</div><!-- sign-text -->
							<div class="about-image-caption">
								<div class="about-image-caption-inner">
									<span class="about-caption-number">18</span>
									<span class="about-caption-text">Years of<br>experience</span>
								</div><!-- about-image-caption-inner -->
							</div><!--about-image-caption-->
						</div><!--about-image-inner img-one-->
						<div class="about-image-inner img-two">
							<img src="/static/images/about-3.jpg" class="floated-image" alt="img-3">
							<img src="/static/images/about-2.jpg" class="img-fluid" alt="img-4">
						</div><!--about-image-inner img-two-->
					</div><!--about-image-->
				</div><!--col-lg-6-->
				<div class="col-lg-6">
					<div class="about-inner">
						<div class="section-title-box">
							<div class="section-tagline">Our introductions</div><!-- section-tagline -->
							<h2 class="section-title">Welcome &amp; Support to City Municipal</h2>
							<p>Aliquam viverra arcu. Donec aliquet blandit enim feugiat. Suspendisse id quam sed eros tincidunt luctus sit amet eu nibh egestas tempus turpis, sit amet mattis magna varius non.</p>
						</div><!-- section-title-box -->
						<div class="row">
							<div class="col-xl-6 col-lg-12 col-md-6">
								<div class="about-card">
									<h4 class="about-title"><i class="fa-solid fa-circle-check"></i>Business &amp; Economy</h4>
									<p class="about-text">Lorem ipsum dolor sited amet consectetur notted.</p>
								</div><!-- about-card -->
							</div><!-- col-xl-6 col-lg-12 col-md-6 -->
							<div class="col-xl-6 col-lg-12 col-md-6">
								<div class="about-card">
									<h4 class="about-title"><i class="fa-solid fa-circle-check"></i>Health &amp; Education</h4>
									<p class="about-text">Lorem ipsum dolor sited amet consectetur notted.</p>
								</div><!-- about-card -->
							</div><!-- col-xl-6 col-lg-12 col-md-6 -->
						</div><!--row-->
						<div class="about-author-box">
							<div class="about-author-image">
								<img src="/static/images/about-4.png" class="img-fluid" alt="img-5">
							</div><!-- about-author-image -->
							<div class="about-author-box-meta">
								<h5>Mr. Kevin Martin</h5>
								<span>City Mayor</span>
							</div><!-- about-author-box-meta -->
						</div><!--about-author-box-->
					</div><!-- about-inner -->
				</div><!--col-lg-6-->
			</div><!-- row -->
		</div><!-- container -->
	</section><!--about-section-->
{%include 'footer.html'%}