<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h1>Clerk Home</h1>

    <header>

        <a href="/clerkhome">Home</a>
        <a href="/clerk_view_category">View Category</a>
        <a href="/clerk_view_notification">Clerk View clerk_view_notification</a>
        <a href="/clerk_view_feedback">View Feedback</a>
        <a href="/clerk_view_application">View Application</a>
        <a href="/">Logout</a>

    </header>

</body>
</html> -->



<!DOCTYPE html><html lang="en"><head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>One Id KeralaGov</title>
<!-- google font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet">
	<!-- plugins css -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/static/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/flaticon_towngov.css">
	<link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="/static/css/youtube-popup.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<!-- favicons Icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
	<link rel="manifest" href="assets/image/favicons/site.webmanifest">
</head>
<body>
<div id="pre-loader">
    <div id="loader-logo"></div><!-- loader-logo -->
    <div id="loader-circle"></div><!-- loader-circle -->
    <div class="loader-section section-left"></div><!-- loader-section -->
    <div class="loader-section section-right"></div><!-- loader-section -->
</div><!-- pre-loader -->
<header class="header">
	<div class="topbar">
		<div class="topbar-inner">
			<div class="topbar-left">
				<div class="topbar-socials">
					<a href="#"><i class="fa-brands fa-twitter"></i></a>
					<a href="#"><i class="fa-brands fa-facebook"></i></a>
					<a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
					<a href="#"><i class="fa-brands fa-instagram"></i></a>
				</div><!--topbar-socials-->
				<div class="topbar-info">
					<ul>
						<li>
							<div class="topbar-icon">
								<i class="fa-solid fa-envelope"></i>
							</div><!-- topbar-icon -->
							<div class="topbar-text">
								<a href="mailto:needhelp@company.com">needhelp@company.com</a>
							</div><!-- topbar-text -->
						</li><!-- li -->
						<li> 
							<div class="topbar-icon">
								<i class="fa-solid fa-clock"></i>
							</div><!-- topbar-icon -->
							<div class="topbar-text">
								<span>Open Hours: Mon - Fri 8.00 am - 6.00 pm</span>
							</div><!-- topbar-text -->
						</li><!-- li -->
					</ul><!-- ul -->
				</div><!--topbar-info-->
			</div><!-- topbar-left -->
			<div class="topbar-right">
				<ul>
					<li><a href="#">Council</a></li>
					<li><a href="#">Government</a></li>
					<li><a href="#">Complaints</a></li>
				</ul><!-- ul -->
			</div><!--topbar-right-->
		</div><!-- topbar-inner -->
	</div><!--topbar-->
	<div class="main-menu sticky-header">
		<div class="main-menu-inner">
			<div class="main-menu-left">
				<div class="main-menu-logo">
					<a href="#"><img src="/static/images/logo.png" alt="img-145" width="140"></a>
				</div><!--main-menu-logo-->
				<div class="navigation">


					<div class="navigation">
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
							<a class="navbar-brand" href="/clerkhome">Home</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							  <span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarNav">
							  <ul class="navbar-nav">
						   
								<li class="nav-item">
								  <a class="nav-link" href="/clerk_view_category">View Category</a>
								</li>
								<li class="nav-item">
								  <a class="nav-link" href="/clerk_view_notification">View Notification</a>
								</li>
	
								<li class="nav-item">
								  <a class="nav-link " href="/clerk_view_feedback">View Feedback</a>
								</li>
	
								<li class="nav-item">
									<a class="nav-link " href="/clerk_view_application">View Application</a>
								  </li>

	
								  <li class="nav-item">
									<a class="nav-link" href="/">Logout</a>
								  </li>
	
	
							  </ul>
							</div>
						  </nav>
						  </div>
						</div>

					<!-- <ul class="main-menu-list list-unstyled">
					<li>
							<a href="/clerkhome">Home</a>
						</li>
					
						<li >
							<a href="/clerk_view_category">View Category</a>

                            </li>

                            
						<li >
							<a href="/clerk_view_notification">View Notification</a>

                            </li>
							
                            
                            
						<li >
							<a href="/clerk_view_feedback">View Feedback</a>

                            </li>

                                        
						<li >
							<a href="/clerk_view_application">View Application</a>

                            </li>

                
                                <li >
                                    <a href="/">Logout</a>
        
                                    </li> -->

		
			</div>
		</div>
	</div>
</header>