<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Send Notification </h1>
    
    <form action="" method="post">
       
        <table>
           
                <th>title:</th>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <th>description:</th>
                <td><input type="text" name="description"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="submit"></td>
            </tr>
        </body>
        </html>