{% extends 'village_officer.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <h3>View Department </h3>
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">

        <div class="bg-light rounded h-100 p-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sl No</th>
                        <th scope="col">Department Name</th>
                        
                    </tr>
                </thead>
                <tbody>
   
       
        
        {% for i in data['view']%}
        <tr>
            <td>{{loop.index }}</td>
            <td>{{i['department_name'] }}</td>
        </tr>
    </tr>
    {%endfor%}
</table> 
</div>
</div>
</html>
{%endblock%}







   

