<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<a href="department_registration">department Register</a>
    <a href="villageoffice_registration">village office Register</a>
    <a href="clerk_registration">clerk Register</a>
    <a href="viewfeedback">feedback</a>
    <a href="complaint_reply">complaints and reply</a>
    

    

</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome to village office
    <a href="viewprofile">viewprofile</a>
    <a href="viewdepartment">department</a>
    <a href="viewclerk">clerk</a>
    <a href="viewnotification">notification</a>
</body>
</html>